In [12]:
#importing libraries
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import datasets
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report 
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [13]:
#reading csv file
df = pd.read_csv("C:/Users/tarun/OneDrive/Desktop/HRDataset_v14.csv")
df.head()
print('Duplicated data count: ',df.duplicated().sum())

Duplicated data count:  0

In [14]:
#checking null valued columns
df.isna().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [15]:
#poping out null valued columns
df.pop('DateofTermination')
df.pop('ManagerID')
df.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'TermReason', 'EmploymentStatus', 'Department',
       'ManagerName', 'RecruitmentSource', 'PerformanceScore',
       'EngagementSurvey', 'EmpSatisfaction', 'SpecialProjectsCount',
       'LastPerformanceReview_Date', 'DaysLateLast30', 'Absences'],
      dtype='object')

In [16]:
#describing the data
df.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,5.000000,5.000000,8.000000,6.000000,20.000000

In [17]:
#checking for duplicate values in the data. so cleaning and sanitizing of data os done successfully.
df.isna().sum()
target = df.pop('Salary')
df.head()
target.head()

0     62506
1    104437
2     64955
3     64991
4     50825
Name: Salary, dtype: int64

In [18]:
char_cols = df.dtypes.pipe(lambda x: x[x== 'object']).index
label_mapping = {}

for c in char_cols:
    df[c], label_mapping[c] = pd.factorize(df[c])

In [19]:

df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Termd,...,Department,ManagerName,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,0,10026,0,0,1,1,5,4,0,0,...,0,0,0,0,4.60,5,0,0,0,1
1,1,10084,1,1,1,5,3,3,0,1,...,1,1,1,1,4.96,3,6,1,0,17
2,2,10196,1,1,0,5,5,3,0,1,...,0,2,0,1,3.02,3,0,2,0,3
3,3,10088,1,1,0,1,5,3,0,0,...,0,3,1,1,4.84,5,0,3,0,15
4,4,10069,0,2,0,5,5,3,0,1,...,0,4,2,1,5.00,4,0,4,0,2

In [20]:
from sklearn.preprocessing import StandardScaler
df = StandardScaler().fit_transform(df.values)

#split the data

x_train , x_test, y_train , y_test = train_test_split(df, target,test_size=0.2, shuffle=True)

clf = LogisticRegression().fit(x_train,y_train) 
pred = clf.predict(x_test)
print(pred,y_test)
print('training complete')
print(classification_report(y_test, pred))

[ 70621  47434 101199  61809  53171  74679  63108 148999  62810  52249
  63763  60656  50470  56847  61349  57859  63695  57568  53060  57815
  46998  74813  63450  57575  47001  66149  53171  61729 110000  58530
  60436  63108  60446  48513  70131  62385  63108  68407  53171  63450
  55722  53180  71776 113999  45069 178000  47434  61555  57748  65714
  64738  55425  95920  89883  50825  57954 100031  77915  64057  71860
  66808  54005  68182] 29      63000
212    108987
180    105688
267     58273
187     83667
        ...
69      53189
98      67251
32      74326
152     45433
175     52788
Name: Salary, Length: 63, dtype: int64
training complete
              precision    recall  f1-score   support

       45069       0.00      0.00      0.00       0.0
       45115       0.00      0.00      0.00       1.0
       45433       0.00      0.00      0.00       1.0
       46998       0.00      0.00      0.00       0.0
       47001       0.00      0.00      0.00       0.0
       47414       0.00      0.00      0.00       1.0
       47434       0.00      0.00      0.00       0.0
       47837       0.00      0.00      0.00       1.0
       47961       0.00      0.00      0.00       1.0
       48285       0.00      0.00      0.00       1.0
       48513       0.00      0.00      0.00       0.0
       49256       0.00      0.00      0.00       1.0
       49773       0.00      0.00      0.00       1.0
       50178       0.00      0.00      0.00       1.0
       50373       0.00      0.00      0.00       1.0
       50470       0.00      0.00      0.00       0.0
       50825       0.00      0.00      0.00       0.0
       51044       0.00      0.00      0.00       1.0
       51259       0.00      0.00      0.00       1.0
       51777       0.00      0.00      0.00       1.0
       52249       0.00      0.00      0.00       0.0
       52505       0.00      0.00      0.00       1.0
       52674       0.00      0.00      0.00       1.0
       52788       0.00      0.00      0.00       1.0
       53018       0.00      0.00      0.00       1.0
       53060       0.00      0.00      0.00       0.0
       53171       0.00      0.00      0.00       0.0
       53180       0.00      0.00      0.00       0.0
       53189       0.00      0.00      0.00       1.0
       53250       0.00      0.00      0.00       1.0
       54005       0.00      0.00      0.00       0.0
       54285       0.00      0.00      0.00       1.0
       55000       0.00      0.00      0.00       1.0
       55425       0.00      0.00      0.00       0.0
       55722       0.00      0.00      0.00       0.0
       55800       0.00      0.00      0.00       1.0
       56147       0.00      0.00      0.00       1.0
       56847       0.00      0.00      0.00       0.0
       57568       0.00      0.00      0.00       0.0
       57575       0.00      0.00      0.00       0.0
       57583       0.00      0.00      0.00       1.0
       57748       0.00      0.00      0.00       0.0
       57815       0.00      0.00      0.00       1.0
       57834       0.00      0.00      0.00       1.0
       57859       0.00      0.00      0.00       0.0
       57954       0.00      0.00      0.00       0.0
       57975       0.00      0.00      0.00       1.0
       58273       0.00      0.00      0.00       1.0
       58370       0.00      0.00      0.00       1.0
       58371       0.00      0.00      0.00       1.0
       58530       0.00      0.00      0.00       0.0
       58709       0.00      0.00      0.00       1.0
       59472       0.00      0.00      0.00       1.0
       60070       0.00      0.00      0.00       1.0
       60380       0.00      0.00      0.00       1.0
       60436       0.00      0.00      0.00       0.0
       60446       0.00      0.00      0.00       0.0
       60656       0.00      0.00      0.00       0.0
       61242       0.00      0.00      0.00       1.0
       61349       0.00      0.00      0.00       0.0
       61355       0.00      0.00      0.00       1.0
       61555       0.00      0.00      0.00       0.0
       61729       0.00      0.00      0.00       0.0
       61809       0.00      0.00      0.00       0.0
       62061       0.00      0.00      0.00       1.0
       62065       0.00      0.00      0.00       1.0
       62385       0.00      0.00      0.00       0.0
       62506       0.00      0.00      0.00       1.0
       62810       0.00      0.00      0.00       0.0
       62957       0.00      0.00      0.00       1.0
       63000       0.00      0.00      0.00       1.0
       63025       0.00      0.00      0.00       1.0
       63051       0.00      0.00      0.00       1.0
       63108       0.00      0.00      0.00       0.0
       63450       0.00      0.00      0.00       0.0
       63682       0.00      0.00      0.00       1.0
       63695       0.00      0.00      0.00       0.0
       63763       0.00      0.00      0.00       0.0
       64057       0.00      0.00      0.00       0.0
       64738       0.00      0.00      0.00       0.0
       64786       0.00      0.00      0.00       1.0
       64919       0.00      0.00      0.00       1.0
       64991       0.00      0.00      0.00       1.0
       65714       0.00      0.00      0.00       0.0
       66149       0.00      0.00      0.00       0.0
       66808       0.00      0.00      0.00       0.0
       67251       0.00      0.00      0.00       1.0
       68051       0.00      0.00      0.00       1.0
       68182       0.00      0.00      0.00       0.0
       68407       0.00      0.00      0.00       0.0
       70131       0.00      0.00      0.00       0.0
       70621       0.00      0.00      0.00       0.0
       71776       0.00      0.00      0.00       0.0
       71860       0.00      0.00      0.00       0.0
       71966       0.00      0.00      0.00       1.0
       72106       0.00      0.00      0.00       1.0
       74326       0.00      0.00      0.00       1.0
       74679       0.00      0.00      0.00       0.0
       74813       0.00      0.00      0.00       0.0
       75281       0.00      0.00      0.00       1.0
       77915       0.00      0.00      0.00       0.0
       83667       0.00      0.00      0.00       1.0
       89883       0.00      0.00      0.00       0.0
       93554       0.00      0.00      0.00       1.0
       95920       0.00      0.00      0.00       0.0
      100031       0.00      0.00      0.00       0.0
      101199       0.00      0.00      0.00       0.0
      103613       0.00      0.00      0.00       1.0
      105688       0.00      0.00      0.00       1.0
      108987       0.00      0.00      0.00       1.0
      110000       0.00      0.00      0.00       0.0
      113999       0.00      0.00      0.00       0.0
      114800       0.00      0.00      0.00       1.0
      120000       0.00      0.00      0.00       1.0
      138888       0.00      0.00      0.00       1.0
      148999       0.00      0.00      0.00       0.0
      150290       0.00      0.00      0.00       1.0
      178000       0.00      0.00      0.00       0.0
      180000       0.00      0.00      0.00       1.0

    accuracy                           0.00      63.0
   macro avg       0.00      0.00      0.00      63.0
weighted avg       0.00      0.00      0.00      63.0

C:\Users\tarun\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\tarun\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\tarun\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\tarun\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\tarun\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\tarun\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))